node_modules
*.DS_Store
config.php
package-lock.json

.sass-cache/
*.css.map
*.sass.map
*.scss.map
*.scss

# Ignore the components directory
main/**/components	

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*